<!DOCTYPE html>
<html>
  <head>
    <title>RubyBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="bg-indigo-400 text-white w-500">
      <center>
        <ul class="flex">
          <li class="flex-1 mr-2 hover:bg-indigo-700">
            <%= link_to "Home", root_path %>
          </li>
          <li class="flex-1 mr-2 hover:bg-indigo-700">
            <%= link_to "New Blog", new_article_path %>
          </li>
        </ul>
      </ center>  
    </nav>
    <div class="container mx-auto px-4 py-4">
      <%= yield %>
    </div>
    <footer class="bg-indigo-400 text-white">
      <center>
        <p>Fuat Guzel</p>
        <p><a href="mailto:fuatguzel@protonmail.com">📧</a>
        </p>
      </ center>
    </footer>
  </body>
</html>
